.section {
    background-color: white;
    opacity: 80%;
    display: block;
    width: 65%;
    border-radius: 5rem;
    border: solid 3px black;
    box-sizing: border-box;
}

.time:hover {
    transition: 2s;
    background-color: lightcyan;
    border-radius: 0%;
    border-color: lightseagreen;
}

.centrarlo {
    text-align: center;
    display: block;
    align-self: center;
    justify-content: center;
    justify-self: center;
}